@font-face {
    font-family: Architect;
    src: url(./fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #18a2c9, #72c3bd);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid white;  */
}

.header {
    padding: 10px 0;
    /* height: 80px; */
    /* border: 1px solid white; */
}

.conteiner--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 100px;
}

.header__title {
    font-family: Architect;
    color: #ded27c;
}

.header__text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.contact-form {
    padding: 20px 0;
    /* border: 1px solid #DED27C; */
}

.contact-form__linha {
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 15px;
}

/* 
.contact-form__col-a, .contact-form__col-b{
    border: 1px solid blue;
} */

.contact-form__col-a {
    display: flex;
    align-items: center;
    width: 10%;

}

.contact-form__label {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.contact-form__input {
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;

    transition: backgroud-color 0.4s, color 0.4s, border 0.4s;
}

.contact-form__input:focus {
    background-color: #72c3bd;
    color: white;
    border: 5px solid;

}

.contact-form__col-b {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.contact-form__textarea {
    width: 100%;
    height: 150px;
    color: #18a2c9;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.contact-form__textarea:focus {
    background-color: #72c3bd;
    color: white;
    border: 1px solid white;
}

.contact-form__button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s;
}

.contact-form__button:hover {
    background-color: #72c3bd;
}


/* modificadores */
.contact-form__input--metade {
    width: 49%;
    height: 35px;
}

.contact-form__input--inteiro {
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.contact-form__input--terco {
    width: 32%;
    height: 35px;
}

.contact-form__input--quarto {
    width: 24%;
    height: 35px;
}

/* Breakpoints - Tablets */
@media screen and (max-width: 991px) {

    body {
        height: 100vh;
    }

    .conteiner {
        max-width: 750px;
    }

    .header__logo {
        width: 140px;
    }

    .header__text {
        font-size: 20px;
        margin-top: 20px;
    }

    .contact-form__label {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    body {
        height: 100%;
    }

    .contact-form__linha {
        justify-content: center;
    }

    .contact-form__col-a {
        display: none;
    }

    .contact-form__col-b {
        flex-wrap: wrap;
        gap: 15px; 
    }

    .contact-form__button:first-of-type {
        margin-bottom: 15px;
    }

    .contact-form__input--metade,
    .contact-form__input--terco,
    .contact-form__input--quarto {
        width: 100%;
    }

}